### IntelliJ IDEA ###
# Ignore the .idea directory, which contains user-specific IDE settings.
.idea/

# Ignore the .iml file, which contains module-specific paths and settings.
*.iml


### Java Build Output ###
# Ignore the 'out' folder where IntelliJ places compiled .class files.
/out/

# Ignore compiled class files directly, just in case.
*.class


### Operating System Files ###
# Ignore macOS specific files
.DS_Store

# Ignore Windows thumbnail cache files
Thumbs.db


### Log Files ###
# Ignore log files that might be generated during development
*.log
log/
